/*reset geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*config geral*/
body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    height: 100px;
    background-color: blueviolet;
    justify-content: center;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    width: auto;
}

header img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    align-items: left;
    justify-content: left;
    display: flex;
}

header ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 8px;
    color: black;
}

header li {
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
}

header i {
    font-size: 20px;
    gap: 20px;
    color: white;
}

.about-homepage {
    border: 2px solid black;
    background-color: wheat;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 20px;

}

.info-homepage {
    border: 2px solid black;
    background-color: wheat;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 20px;
}

#about {
    margin-left: 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#about h2 {
    display: flex;
    margin-left: 20px;
    color: black;
    font-weight: bold;
}

#about p {
    margin-left: 20px;
    margin-top: 20px;
    width: 900px;
    font-size: 16px;
    margin-bottom: 20px;
}

a {
    list-style-type: none;
    text-decoration: none;
}

.subtitle {
    margin-top: 10px;
    font-size: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.add-subtitle {
    margin-top: 10px;
    color: gray;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.buttons button {
    padding: 15px 50px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    margin-bottom: 20px;
    border: none;
}

.follow {
    margin-top: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

a {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.formacao-academica {
    display: block;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.formacao-academica img {
    width: 100px;
    height: 100px;
}

.formacao-academica-info {
    border: 2px solid black;
    background-color: wheat;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    
}

.formacao-academica-info h2 {
    margin-left: 20px;
    margin-top: 20px;
}

.formacao-info {
    margin-left: 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

footer {
    background-color: blueviolet;
    width: auto;
    height: 50px;
}

footer p {
    text-align: center;
}

